# Tokens
acartia_token.txt
GH_token.txt
mapbox_token.txt
flyio_ghtoken.txt

# Folders
/maps
/plot
/data_in_progress

# Work in progress
chinookplot.ipynb
chinookplot.py
plots_colab.ipynb
skrwplot.py

# Notes
salmon_dashboard_notes.md

# Venv
orcasalmon_venv

# Workspace
orcasalmon.code-workspace

#Other
._acartia_token.txt
._fly.toml
._plots_colab.ipynb
._requirements.txt
._orcasalmon.code-workspace
