# Tokens
acartia_token.txt
GH_token.txt
GH_token_old.txt
mapbox_token.txt
flyio_ghtoken.txt

# Folders
/maps
/plot
/data/data_in_progress
/data/srkw_satellite_tagging

# Work in progress
chinookplot.ipynb
chinookplot.py
plots_colab.ipynb
srkwplot.py
Scraper.ipynb
twm_viz.ipynb
# Notes
salmon_dashboard_notes.md

# Venv
orcasalmon_venv

# Workspace
orcasalmon.code-workspace

#Other
app_3tabs.py
map.png
data/twm/AppendixII.XLSX
data/twm/OM_2021 FINAL program report.pdf
data/twm/TWMQuads.pdf
._acartia_token.txt
._fly.toml
._plots_colab.ipynb
._requirements.txt
._orcasalmon.code-workspace
._*