# Tokens
acartia_token.txt
GH_token.txt
GH_token_old.txt
mapbox_token.txt
flyio_ghtoken.txt

# Folders
/maps
/plot
/data/data_in_progress
/data/srkw_satellite_tagging

# Work in progress
chinookplot.ipynb
chinookplot.py
plots_colab.ipynb
srkwplot.py
Scraper.ipynb
twm_viz.ipynb
acartia_twm_viz.ipynb
scraper_local.py
# Notes
salmon_dashboard_notes.md

# Venv
orcasalmon_venv

# Workspace
orcasalmon.code-workspace

# Documentations
orcasalmon_nobuild.yml
orcasalmon_hist.yml 
/documentation_for_orcasound

#Other
app_3tabs.py
map.png
fly_old.toml
fly_new.toml
data/twm/AppendixII.XLSX
data/twm/OM_2021 FINAL program report.pdf
data/twm/TWMQuads.pdf
data/Number of Southern Resident killer whales.xlsx
data/albion_long.csv
data/srkw_presence.csv
data/peak/
._acartia_token.txt
._fly.toml
._plots_colab.ipynb
._requirements.txt
._orcasalmon.code-workspace
._*